<table class="domain_template_tree template_tree table">
	<p class="tree-warning alert alert-info">This desktop has no parent templates</p>
	<colgroup>
		<col width="30px">
		</col>
		<col width="*">
		</col>
		<col width="100px">
		</col>
		<col width="100px">
		</col>
		<col width="100px">
		</col>
	</colgroup>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>User</th>
			<th>Group</th>
			<th>Category</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
	<tfoot>
		<tr>
		</tr>
	</tfoot>
</table>