{% block css %}
  <link href="/isard-admin/static/vendor/fancytree/dist/skin-win8/ui.fancytree.css" rel="stylesheet">
{% endblock %}
<table class="tree_template_delete template_tree table">
  <colgroup>
  <col width="30px"></col>
  <col width="100px"></col>
  <col width="*"></col>
  <col width="100px"></col>
  <col width="100px"></col>
  <col width="100px"></col>
  <col width="100px"></col>
  <col width="100px"></col>
  </colgroup>
  <thead>
    <tr>
      <th></th>
      <th>#</th>
      <th></th>
      <th>Duplicated</th>
      <th>User</th>
      <th>Type</th>
      <th>Category</th>
      <th>Group</th>
    </tr>
  </thead>
</table>