<style>
    #modalAddParameterGroupingForm .select2-container {
        width: 85% !important;
    }
    #modalEditParameterGroupingForm .select2-container {
        width: 85% !important;
    }
    .valuesOptions .filter-item {
        width: 250px;
        display: inline-grid;
    }
</style>

{% block content %}

<div class="modal fade" id="modalConsolidateDesktops" tabindex="-1" role="dialog" aria-labelledby="modalConsolidateDesktops"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <i class="fa fa-desktop fa-1x"></i> Consolidate Desktops Usage
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form id="modalConsolidateDesktopsForm" class="form-inline form-label-top">
                    <div class="item form-group">
                        <label class="control-label col-md-12 col-sm-6 col-xs-12" for="item_type">
                            <div class="col-md-12 col-sm-6 col-xs-12">
                            Indicate the starting point for data consolidation
                            <span class="required">*</span></label>
                            <select id="days" name="days" class="form-control" required></select>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </li>
                    </li>
                </ul>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <button id="send" type="button" class="btn btn-success">Compute</button>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConsolidateUsers" tabindex="-1" role="dialog" aria-labelledby="modalConsolidateUsers"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <i class="fa fa-user fa-1x"></i> Consolidate Users Usage
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form id="modalConsolidateUsersForm" class="form-inline form-label-top">
                    <div class="item form-group">
                        <label class="control-label col-md-12 col-sm-6 col-xs-12" for="item_type">
                            <div class="col-md-12 col-sm-6 col-xs-12">
                            Indicate the starting point for data consolidation
                            <span class="required">*</span></label>
                            <select id="days" name="days" class="form-control" required></select>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </li>
                    </li>
                </ul>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <button id="send" type="button" class="btn btn-success">Compute</button>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalAddCredit" tabindex="-1" role="dialog" aria-labelledby="modalAddCredit"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <i class="fa fa-plus fa-1x"></i> <i class="fa fa-rocket"></i> Add Credit
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form id="modalAddCreditForm" class="form-inline form-label-left">
                    <input hidden id="id" name="id" />
                    <div class="row">
                        <div class="x_panel">
                            <div class="x_title">
                                <h4>Values
                                </h4>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_panel">
                                <div class="col-md-6 col-xs-2">
                                    <label class="control-label" for="limits">Limit<span
                                            class="required">*</span></label>
                                    <select class="form-control" style="width:100%" name="limit_id" id=limits></select>
                                </div>
                            </div>
                            <hr>
                            <div class="x_panel valuesOptions">
                            </div>
                            <div class="x_title">
                                <h4><i class="fa fa-calendar" aria-hidden="true"></i> Interval
                                </h4>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_panel">
                                <div class="col-md-6 col-xs-2">
                                    <label class="control-label" for="start_date-calendar">Start date <span
                                            class="required">*</span></label>
                                    <input type="text" name="start_date" value="" id="start_date-calendar" />
                                </div>
                                <div class="col-md-6 col-xs-2">
                                    <label class="control-label" for="end_date-calendar">End date :</label>
                                    <input type="text" disabled name="end_date" value="" id="end_date-calendar"
                                        placeholder="Leave empty to date until now" />

                                    <label class="control-label" for="end_date-enabled" style="margin-top:10px">
                                        <div class="icheckbox_flat-green" style="position: relative;">
                                            <input type="checkbox" id="end_date-cb" name="end_date-cb" class="flat"
                                                style="position: absolute; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                            </ins>
                                        </div>
                                        Add end date
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </li>
                    </li>
                </ul>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <button id="send" type="button" class="btn btn-success">Add Credit</button>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalEditCredit" tabindex="-1" role="dialog"
    aria-labelledby="modalEditCredit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <i class="fa fa-pencil fa-1x"></i><i class="fa fa-rocket"> </i> Edit Credit
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form id="modalEditCreditForm" class="form-inline form-label-left">
                    <input hidden id="id" name="id" />
                    <input hidden id="item_id" name="item_id" />
                    <div class="row">
                        <div class="x_panel">
                            <div class="x_title">
                                <h4><i class="fa fa-minus-circle" aria-hidden="true"></i> Limit values
                                </h4>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_panel">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label class="control-label" for="limits_name">Name <span class="required">*</span>
                                    </label>
                                    <input id="limits_name" class="roundbox" maxlength="40"
                                        pattern="[-_àèìòùáéíóúñçÀÈÌÒÙÁÉÍÓÚÑÇ .a-zA-Z0-9@]+$" data-parsley-length="[1, 40]"
                                        name="name" placeholder="Edit limit name" data-parsley-trigger="change" required
                                        type="text" style="width:100%">
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <label class="control-label" for="limits_desc">Description</label>
                                    <input id="desc" class="roundbox" name="limits_desc" placeholder="Description" type="text"
                                        style="width:100%">
                                </div>
                            </div>
                            <div class="x_panel">
                                <div class="col-md-3 col-xs-12">
                                    <label class="control-label" for="soft">Soft Limit<span class="required">*</span>
                                    </label>
                                    <input id="soft" data-parsley-type="number" class="form-control roundbox" name="soft" type="number" value="0"
                                        style="width:100%" required="required">
                                </div>
                                <div class="col-md-3 col-xs-12">
                                    <label class="control-label" for="hard">Hard limit<span class="required">*</span>
                                    </label>
                                    <input id="hard" data-parsley-type="number" class="form-control roundbox" name="hard" type="number" value="0"
                                        style="width:100%" required="required">
                                </div>
                                <div class="col-md-3 col-xs-12">
                                    <label class="control-label" for="exp_min">Expected min<span class="required">*</span>
                                    </label>
                                    <input id="exp_min" data-parsley-type="number" class="form-control roundbox" name="exp_min" type="number" value="0"
                                        style="width:100%" required="required">
                                </div>
                                <div class="col-md-3 col-xs-12">
                                    <label class="control-label" for="exp_max">Expected max<span class="required">*</span>
                                    </label>
                                    <input id="exp_max" data-parsley-type="number" class="form-control roundbox" name="exp_max" type="number" value="0"
                                        style="width:100%" required="required">
                                </div>
                            </div>
                            <div class="x_title">
                                <h4><i class="fa fa-calendar" aria-hidden="true"></i> Interval
                                </h4>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_panel">
                                <div class="col-md-6 col-xs-2">
                                    <label class="control-label" for="start_date-calendar">Start date <span
                                            class="required">*</span></label>
                                    <input type="text" name="start_date" value="" id="start_date-calendar" />
                                </div>
                                <div class="col-md-6 col-xs-2">
                                    <label class="control-label" for="end_date-calendar">End date :</label>
                                    <input type="text" disabled name="end_date" value="" id="end_date-calendar"
                                        placeholder="Leave empty to date until now" />

                                    <label class="control-label" for="end_date-enabled" style="margin-top:10px">
                                        <div class="icheckbox_flat-green" style="position: relative;">
                                            <input type="checkbox" id="end_date-cb" name="end_date-cb" class="flat"
                                                style="position: absolute; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                            </ins>
                                        </div>
                                        Add end date
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </li>
                    </li>
                </ul>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <button id="send" type="button" class="btn btn-success">Edit Credit</button>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAddParameterGrouping" tabindex="-1" role="dialog"
    aria-labelledby="modalAddParameterGrouping" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <i class="fa fa-plus fa-1x"></i> <i class="fa fa-list"></i> Add Parameter Grouping
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form id="modalAddParameterGroupingForm" class="form-inline form-label-left">
                    <input hidden id="id" name="id" />
                    <div class="row">
                        <div class="x_panel">
                            <div class="x_title">
                                <h4><i class="fa fa-info-circle" aria-hidden="true"></i> Name and description
                                </h4>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label" for="name">Name <span class="required">*</span>
                                </label>
                                <input id="name" class="roundbox" maxlength="40"
                                    pattern="[-_àèìòùáéíóúñçÀÈÌÒÙÁÉÍÓÚÑÇ .a-zA-Z0-9@]+$" data-parsley-length="[1, 40]"
                                    name="name" placeholder="New grouping name" data-parsley-trigger="change" required
                                    type="text" style="width:100%">
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <label class="control-label" for="desc">Description</label>
                                <input id="desc" class="roundbox" name="desc" placeholder="Description" type="text"
                                    style="width:100%">
                            </div>
                        </div>
                        <div class="x_panel">
                            <div class="x_title">
                                <h4></i> Grouping values
                                </h4>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-12 col-xs-8" style="width:85%">
                                <label class="control-label" for="item_type">Item type<span
                                        class="required">*</span></label>
                                <select class="form-control" name="item_type" style="width:100%"
                                    id="item_type"></select>
                            </div>
                            <div class="col-md-12 col-xs-8" style="margin-top:10px">
                                <label class="control-label" for="parameters">List of parameters<span
                                        class="required">*</span></label>
                                <select class="form-control" id="parameters" name="parameters[]"
                                    placeholder="Click to select a list of parameters" multiple="multiple"
                                    required></select>
                                <div class="select2-resize-handle"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </li>
                    </li>
                </ul>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <button id="send" type="button" class="btn btn-success">Add Grouping</button>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEditParameterGrouping" tabindex="-1" role="dialog"
    aria-labelledby="modalEditParameterGrouping" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <i class="fa fa-pencil fa-1x"></i><i class="fa fa-list"> </i> Edit Parameter Grouping
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form id="modalEditParameterGroupingForm" class="form-inline form-label-left">
                    <input hidden id="id" name="id" />
                    <div class="row">
                        <div class="x_panel">
                            <div class="x_title">
                                <h4><i class="fa fa-info-circle" aria-hidden="true"></i> Name and description
                                </h4>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label" for="name">Name <span class="required">*</span>
                                </label>
                                <input id="name" class="roundbox" maxlength="40"
                                    pattern="[-_àèìòùáéíóúñçÀÈÌÒÙÁÉÍÓÚÑÇ .a-zA-Z0-9@]+$" data-parsley-length="[1, 40]"
                                    name="name" placeholder="New grouping name" data-parsley-trigger="change" required
                                    type="text" style="width:100%">
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <label class="control-label" for="desc">Description</label>
                                <input id="desc" class="roundbox" name="desc" placeholder="Description" type="text"
                                    style="width:100%">
                            </div>
                        </div>
                        <div class="x_panel">
                            <div class="x_title">
                                <h4></i> Grouping values
                                </h4>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-12 col-xs-8" style="width:85%">
                                <label class="control-label" for="item_type">Item type<span
                                        class="required">*</span></label>
                                <select class="form-control" name="item_type" style="width:100%"
                                    id="item_type"></select>
                            </div>
                            <div class="col-md-12 col-xs-8" style="margin-top:10px">
                                <label class="control-label" for="parameters">List of parameters<span
                                        class="required">*</span></label>
                                <select class="form-control" id="parameters" name="parameters[]"
                                    placeholder="Click to select a list of parameters" multiple="multiple"
                                    required></select>
                                <div class="select2-resize-handle"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </li>
                    </li>
                </ul>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <button id="send" type="button" class="btn btn-success">Edit Grouping</button>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAddLimits" tabindex="-1" role="dialog" aria-labelledby="modalAddLimits"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <i class="fa fa-plus fa-1x"></i> <i class="fa fa-minus-circle"></i> Add Limits
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form id="modalAddLimitsForm" class="form-inline form-label-left">
                    <input hidden id="id" name="id" />
                    <div class="row">
                        <div class="x_panel">
                            <div class="x_title">
                                <h4><i class="fa fa-info-circle" aria-hidden="true"></i> Name and description
                                </h4>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label" for="name">Name <span class="required">*</span>
                                </label>
                                <input id="name" class="roundbox" maxlength="40"
                                    pattern="[-_àèìòùáéíóúñçÀÈÌÒÙÁÉÍÓÚÑÇ .a-zA-Z0-9@]+$" data-parsley-length="[1, 40]"
                                    name="name" placeholder="New limit name" data-parsley-trigger="change" required
                                    type="text" style="width:100%">
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <label class="control-label" for="desc">Description</label>
                                <input id="desc" class="roundbox" name="desc" placeholder="Description" type="text"
                                    style="width:100%">
                            </div>
                        </div>
                        <div class="x_panel">
                            <div class="x_title">
                                <h4></i> Limit values
                                </h4>
                                <div class="clearfix"></div>
                            </div>
                            <!-- <div class="row mt-2"> -->
                            <div class="col-md-3 col-xs-12">
                                <label class="control-label" for="soft">Soft Limit<span class="required">*</span>
                                </label>
                                <input id="soft" data-parsley-type="number" class="form-control roundbox" name="soft" type="number" value="0"
                                    style="width:100%" required="required">
                            </div>
                            <div class="col-md-3 col-xs-12">
                                <label class="control-label" for="hard">Hard limit<span class="required">*</span>
                                </label>
                                <input id="hard" data-parsley-type="number" class="form-control roundbox" name="hard" type="number" value="0"
                                    style="width:100%" required="required">
                            </div>
                            <div class="col-md-3 col-xs-12">
                                <label class="control-label" for="exp_min">Expected min<span class="required">*</span>
                                </label>
                                <input id="exp_min" data-parsley-type="number" class="form-control roundbox" name="exp_min" type="number" value="0"
                                    style="width:100%" required="required">
                            </div>
                            <div class="col-md-3 col-xs-12">
                                <label class="control-label" for="exp_max">Expected max<span class="required">*</span>
                                </label>
                                <input id="exp_max" data-parsley-type="number" class="form-control roundbox" name="exp_max" type="number" value="0"
                                    style="width:100%" required="required">
                            </div>
                        </div>

                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </li>
                    </li>
                </ul>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <button id="send" type="button" class="btn btn-success">Add Limit</button>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
    </div>




</div>

<div class="modal fade" id="modalEditLimits" tabindex="-1" role="dialog" aria-labelledby="modalEditLimits"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <i class="fa fa-pencil fa-1x"></i><i class="fa fa-minus-circle"> </i> Edit Limits
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form id="modalEditLimitsForm" class="form-inline form-label-left">
                    <input hidden id="id" name="id" />
                    <div class="row">
                        <div class="x_panel">
                            <div class="x_title">
                                <h4><i class="fa fa-info-circle" aria-hidden="true"></i> Name and description
                                </h4>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label" for="name">Name <span class="required">*</span>
                                </label>
                                <input id="name" class="roundbox" maxlength="40"
                                    pattern="[-_àèìòùáéíóúñçÀÈÌÒÙÁÉÍÓÚÑÇ .a-zA-Z0-9@]+$" data-parsley-length="[1, 40]"
                                    name="name" placeholder="New limit name" data-parsley-trigger="change" required
                                    type="text" style="width:100%">
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <label class="control-label" for="desc">Description</label>
                                <input id="desc" class="roundbox" name="desc" placeholder="Description" type="text"
                                    style="width:100%">
                            </div>
                        </div>
                        <div class="x_panel">
                            <div class="x_title">
                                <h4></i> Limit values
                                </h4>
                                <div class="clearfix"></div>
                            </div>
                            <!-- <div class="row mt-2"> -->
                            <div class="col-md-3 col-xs-12">
                                <label class="control-label" for="soft">Soft Limit<span class="required">*</span>
                                </label>
                                <input id="soft" data-parsley-type="number" class="form-control roundbox" name="soft" type="number" value="0"
                                    style="width:100%" required="required">
                            </div>
                            <div class="col-md-3 col-xs-12">
                                <label class="control-label" for="hard">Hard limit<span class="required">*</span>
                                </label>
                                <input id="hard" data-parsley-type="number" class="form-control roundbox" name="hard" type="number" value="0"
                                    style="width:100%" required="required">
                            </div>
                            <div class="col-md-3 col-xs-12">
                                <label class="control-label" for="exp_min">Expected min<span class="required">*</span>
                                </label>
                                <input id="exp_min" data-parsley-type="number" class="form-control roundbox" name="exp_min" type="number" value="0"
                                    style="width:100%" required="required">
                            </div>
                            <div class="col-md-3 col-xs-12">
                                <label class="control-label" for="exp_max">Expected max<span class="required">*</span>
                                </label>
                                <input id="exp_max" data-parsley-type="number" class="form-control roundbox" name="exp_max" type="number" value="0"
                                    style="width:100%" required="required">
                            </div>
                        </div>

                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </li>
                    </li>
                </ul>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <button id="send" type="button" class="btn btn-success">Edit Limit</button>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
    </div>




</div>

<div class="modal fade" id="modalAddParameters" tabindex="-1" role="dialog" aria-labelledby="modalAddParameters"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <i class="fa fa-plus fa-1x"></i> <i class="fa fa-sliders"></i> Add Parameters
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form id="modalAddParametersForm" class="form-inline form-label-left">
                    <input hidden id="id" name="id" />
                    <div class="row">
                        <div class="x_panel">
                            <div class="x_title">
                                <h4><i class="fa fa-info-circle" aria-hidden="true"></i> Name and description
                                </h4>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="control-label" for="name">Name <span class="required">*</span>
                                </label>
                                <input id="name" class="roundbox" maxlength="40"
                                    pattern="[-_àèìòùáéíóúñçÀÈÌÒÙÁÉÍÓÚÑÇ .a-zA-Z0-9@]+$" data-parsley-length="[1, 40]"
                                    name="name" placeholder=" New parameter name" data-parsley-trigger="change" required
                                    type="text" style="width:100%">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="control-label" for="desc">ID <span class="required">*</span></label>
                                <input id="id" class="roundbox" name="id" placeholder="Parameter identifier" type="text"
                                    style="width:100%" pattern="^[^\s]+$" data-parsley-trigger="change" required>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label class="control-label" for="desc">Description</label>
                                <input id="desc" class="roundbox" name="desc" placeholder=" Description" type="text"
                                    style="width:100%">
                            </div>
                        </div>
                        <div class="x_panel">
                            <div class="x_title">
                                <h4></i> Values
                                </h4>
                                <div class="clearfix"></div>
                            </div>

                            <div style="padding:10px">
                                <div class="item form-group">
                                    <label class="control-label col-md-6 col-sm-3 col-xs-12" for="item_type">Item type
                                        <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select id="item_type" name="item_type" class="form-control item_type"
                                            required>
                                        </select>
                                    </div>
                                </div>
                                <div class="item form-group" style="margin-left:25px">
                                    <label class="control-label  col-md-3 col-sm-3 col-xs-12" for="name">Units
                                    </label>
                                    <input id="units" class="roundbox" maxlength="40" data-parsley-length="[1, 40]"
                                        name="units" placeholder=" e.g. Mb/hour" type="text" style="width:50%">
                                </div>
                            </div>

                            <div class="x_title">
                                <h4></i> Formula
                                </h4>
                                <div class="clearfix"></div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <label class="control-label" for="available-parameters">Formula
                                </label>
                                <textarea id="formula" class="roundbox" maxlength="100" pattern=""
                                    data-parsley-length="[1, 100]" name="formula"
                                    placeholder=" e.g. 0.2 * dsk_vcpus / 4 + 0.8 * dsk_memory / 6" type="text"
                                    style="width:100%; height:200px"></textarea>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <label class="control-label" for="available-parameters">Parameters
                                </label>
                                <ul class="list-group" id="available-parameters" name="available-parameters"
                                    style="overflow-x:scroll; max-height:200px">
                                </ul>
                            </div>
                        </div>

                        <input hidden id='custom' name='custom' value="true"></input>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </li>
                    </li>
                </ul>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <button id="send" type="button" class="btn btn-success">Add Parameter</button>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
    </div>




</div>
</div>
<div class="modal fade" id="modalEditParameters" tabindex="-1" role="dialog" aria-labelledby="modalEditParameters"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <i class="fa fa-pencil fa-1x"></i> <i class="fa fa-sliders"></i> Edit Parameters
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form id="modalEditParametersForm" class="form-inline form-label-left">
                    <input hidden id="id" name="id" />
                    <div class="row">
                        <div class="x_panel">
                            <div class="x_title">
                                <h4><i class="fa fa-info-circle" aria-hidden="true"></i> Name and description
                                </h4>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="control-label" for="name">Name <span class="required">*</span>
                                </label>
                                <input id="name" class="roundbox" maxlength="40"
                                    pattern="[-_àèìòùáéíóúñçÀÈÌÒÙÁÉÍÓÚÑÇ .a-zA-Z0-9@]+$" data-parsley-length="[1, 40]"
                                    name="name" placeholder=" New parameter name" data-parsley-trigger="change" required
                                    type="text" style="width:100%">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="control-label" for="desc">ID <span class="required">*</span></label>
                                <input id="id" class="roundbox" name="id" placeholder="Parameter identifier" type="text"
                                    pattern="^[^\s]+$" data-parsley-trigger="change" disabled required style="width:100%">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label class="control-label" for="desc">Description</label>
                                <input id="desc" class="roundbox" name="desc" placeholder=" Description" type="text"
                                    style="width:100%">
                            </div>
                        </div>
                        <div class="x_panel">
                            <div class="x_title">
                                <h4></i> Values
                                </h4>
                                <div class="clearfix"></div>
                            </div>

                            <div style="padding:10px">
                                <div class="item form-group">
                                    <label class="control-label col-md-6 col-sm-3 col-xs-12" for="item_type">Item type
                                        <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select id="item_type" name="item_type" class="form-control item_type"
                                            required>
                                        </select>
                                    </div>
                                </div>
                                <div class="item form-group" style="margin-left:25px">
                                    <label class="control-label  col-md-3 col-sm-3 col-xs-12" for="name">Units
                                    </label>
                                    <input id="units" class="roundbox" maxlength="40" data-parsley-length="[1, 40]"
                                        name="units" placeholder=" e.g. Mb/hour" type="text" style="width:50%">
                                </div>
                            </div>

                            <div class="x_title">
                                <h4></i> Formula
                                </h4>
                                <div class="clearfix"></div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <label class="control-label" for="available-parameters">Formula
                                </label>
                                <textarea id="formula" class="roundbox" maxlength="100" pattern=""
                                    data-parsley-length="[1, 100]" name="formula"
                                    placeholder=" e.g. 0.2 * dsk_vcpus / 4 + 0.8 * dsk_memory / 6" type="text"
                                    style="width:100%; height:200px"></textarea>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <label class="control-label" for="available-parameters">Parameters
                                </label>
                                <ul class="list-group" id="available-parameters" name="available-parameters"
                                    style="overflow-x:scroll; max-height:200px">
                                </ul>
                            </div>
                        </div>

                        <input hidden id='custom' name='custom' value="true"></input>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </li>
                    </li>
                </ul>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <button id="send" type="button" class="btn btn-success">Edit Parameter</button>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}